.MuiBox-root {
  padding-bottom: 56px;
  width: 94%;
  max-width: 1024px;
}

.makeStyles-title-203:hover {
  cursor: pointer;
}

.MuiBadge-anchorOriginTopRightRectangle, .MuiBadge-badge, .MuiBadge-anchorOriginTopRightRectangle, .MuiBadge-colorPrimary {
  margin-left: 11px;
  margin-right: 10px;
  margin-top: 4px;
}

