@import './theme/variables';

#app-container {
  padding-bottom: 112px;
  padding-top: 56px;
  width: 94%;
  max-width: 1024px;
}

.makeStyles-title-203:hover {
  cursor: pointer;
}

.MuiBadge-anchorOriginTopRightRectangle, .MuiBadge-badge, .MuiBadge-anchorOriginTopRightRectangle, .MuiBadge-colorPrimary {
  margin-left: 11px;
  margin-right: 10px;
  margin-top: 4px;
}

#page-header {
  margin-top: 16px;
  margin-bottom: 10px;
}

.notification-custom {
  background-color: rgba(212,99,55, 0.85);
  border-left: 5px solid $color-5-hex;
  color: $color-3-hex;

  .timer {
    background-color: $color-5-hex;
  }
  .timer-filler {
    background-color: $color-4-hex;
  }
  .notification-close {
    background-color: $color-5-hex;
  }
}
