body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: contain; //prevents page from refreshing when user scrolls up
  overflow: auto;

  height: 100%;
  overflow: auto;
  color: #36363E;
}
html {
  height: 100%;
  overflow: hidden;
  color: #36363E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  display: grid;
  height: 100vh;
  grid-template-rows: 56px auto 56px;
  justify-items: center;
}
