@import '../../theme/variables';

.notifications-header {
  // display: grid;
  // grid-template-columns: 33.3% 33.3% 33.3%;
  // justify-items: center;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// .notifications-header h2 {
//   grid-column-start: 2;
//   grid-column-end: 3;
//   justify-self: center;
// }

// .notifications-header button {
//   grid-column-start: 3;
//   grid-column-end: 4;
//   justify-self: end;
// }

li.MuiListItem-root.MuiListItem-gutters.section-header {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid $color-5-hex;
}

li.MuiListItem-root.notification.MuiListItem-gutters.MuiListItem-alignItemsFlexStart {
  padding: 0;
  display: flex;
  flex-direction: column;
}

li.MuiListItem-root.notification.MuiListItem-gutters {
  width: 94vw;
  max-width: 1024px;
}

#notifications-container {
  width: 100%;
  padding: 0;
  margin: 0 0 70px 0;
}

.MuiTypography-root.clear-notifications.MuiTypography-overline {
  margin-right: 2em;
}

.clear-notifications:hover {
  cursor: pointer;
  color: $color-5-hex;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.dismiss-button-hidden.MuiButton-outlinedSecondary.MuiButton-outlinedSizeSmall.MuiButton-sizeSmall {
  display: none;
}

.dismiss-expand {
  display: flex;
  flex-direction: row;
}

p.MuiTypography-root.makeStyles-inline-329.MuiTypography-body2.MuiTypography-colorTextPrimary {
  width: calc(94vw - 24px);
  max-width: 1000px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  display: block;
}
