.notifications-header {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  justify-items: center;
  margin-bottom: 0.5em;
}

.notifications-header h2 {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
}

.notifications-header button {
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: end;
}

li.MuiListItem-root.MuiListItem-gutters.section-header {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li.MuiListItem-root.notification.MuiListItem-gutters.MuiListItem-alignItemsFlexStart {
  padding: 0;
  display: flex;
  flex-direction: column;
}

#notifications-container {
  width: 100%;
  padding: 0;
  margin: 0;
}
