/* Color Theme Swatches in Hex */
$color-1-hex: #36363E;
$color-2-hex: #026873;
$color-3-hex: #F7B86A;
$color-4-hex: #F5F0EB;
$color-5-hex: #D46337;

/* Color Theme Swatches in RGBA */
$color-1-rgba: rgba(54,54,62, 1);
$color-2-rgba: rgba(2,104,115, 1);
$color-3-rgba: rgba(247,184,106, 1);
$color-4-rgba: rgba(245,240,235, 1);
$color-5-rgba: rgba(212,99,55, 1);
