#search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
}

.search-label {
  margin-top: auto;
  margin-bottom: auto;
}

.contact-list {
  padding: 0;
  margin-bottom: 70px;
}

.contact-card {
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.contact-info {
  display: grid;
  grid-template-columns: 12% 48% 40%;
  align-items: center;
}

.contact-buttons {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

button.decline-contact-request-not-visible {
  display: none;
}

button.decline-contact-request {
  margin-left: 1em;
}
button.dm-button {
  margin-left: 1em;
}
