.sendingCanvas {
  display: none;
}

.user-chips {
  z-index: 4;
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 80%;
  position: fixed;
  top: 3px;
  left: 10px;
  background-color: transparent;
}

.user-chip {
  color: white;
  text-align: center;
  font-size: 80%;
  font-weight: 500;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 20px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
  height: 1.2em;
  width: auto;
  overflow-wrap: none;

}

#one {
  background-color: rgba(0, 0, 255, 0.70);
}

#two {
  background-color: rgba(255, 0, 0, 0.70);
}

#three {
  background-color: rgba(0, 255, 0, 0.70);
}

#four {
  background-color: rgba(222, 70, 242, 0.70);
}
