@import '../../theme/variables';

#meeting-chat-container {
  height: 50vh;
  display: grid;
  grid-template-rows: 90% 10%;
}

#meeting-chat {
  justify-content: center;
}

#messages-display {
  overflow-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5em;
  scrollbar-width: none;
}

span.MuiBadge-root.message-badge {
  position: fixed;
  z-index: 9999;
  top: 12px;
  right: 6px;
}

.recipient {
  margin-bottom: 0.5em;
  margin-right: 1em;

  .message-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px 15px;
    padding: 0.75em 0.75em;
    display: inline-block;
    max-width: 90%;
  }

  p {
    overflow-x: hidden;
    overflow-wrap: break-word;
  }


  h6 {
    margin-left: 0.75em;
  }
}

.sender {
  margin-left: 1em;
  margin-bottom: 0.5em;
  text-align: right;

  .message-container {
    background-color: rgba(2, 104, 115, 0.8);
    color: $color-4-hex;
    border-radius: 15px 15px;
    padding: 0.75em 0.75em;
    display: inline-block;
    max-width: 90%;
  }

  p {
    overflow-x: hidden;
    overflow-wrap: break-word;
  }

  h6 {
    text-align: right;
    margin-right: 0.75em;
  }

}

#pen-controls {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .pens {
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .MuiTypography-overline {
      margin-right: 1em;
    }

    button {
      width: 100%;
    }

    button:first-child {
      flex-basis: 10%;
    }

    button:not(:first-child) {
      margin-left: 2px;
      flex-basis: 45%;
    }
  }
}

#page-navigation {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.drawer-button-container {
  padding: 0.5em;
  button:first-child {
    margin-bottom: 2px;
  }
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.drawer-button.MuiButton-outlinedSecondary {
  width: 100%;
}
